<div id="contentDiv">

  <h1>Basic Post Via A Button</h1>

  <p>Here is perhaps the simplest possible example: a button that, when clicked, posts to a given URL via AJAX and
  then replaces the content of a target div with the results</p>

  <h3>Code</h3>

  <h4>HTML</h4>
  <pre>

    &lt;div class="btn btn-primary" ic-post-to="/basics/click" ic-target="#target-div">Update The Div&lt;/div>
    &lt;div id='target-div'>
      Waiting To Be Updated...
    &lt;/div>
  </pre>

  <h4>Rails</h4>
  <pre>

  def click
    render inline:"You clicked at #{ DateTime.now }"
  end
  </pre>

  <h3>Demo</h3>

  <div class="btn btn-primary" ic-post-to="/basics/click" ic-target="#target-div">Update The Div</div>
  <div id='target-div'>
    Waiting To Be Updated...
  </div>
</div>

