<h1>Slick Navigation Example</h1>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="<%= active_if :action => :tab1 %>">
        <a ic-get-from="/slick_nav/tab1" ic-target="#tab-content" href="#">Tab1</a>
      </li>
      <li class="<%= active_if :action => :tab2 %>">
        <a ic-get-from="/slick_nav/tab2" ic-target="#tab-content" href="#">Tab2</a>
      </li>
      <li class="<%= active_if :action => :tab3 %>">
        <a ic-get-from="/slick_nav/tab3" ic-target="#tab-content" href="#">Tab3</a>
      </li>
    </ul>
  </div>
</div>

<div id="tab-content">
  <%= render :partial => "#{params[:action]}_content" %>
</div>