<div id="contentDiv">

  <h1>Hello IntercoolerJS!</h1>

  <p>This is a rails app that demos some of the features of <a href="http://intercoolerjs.org">IntercoolerJS</a>,
    a Partial View Controller (PVC) javascript framework.  If you haven't already, head on over to the
    <a href="http://intercoolerjs.org/intro.html">introduction</a> to Intercooler, which will give you a basic idea of
    what a PVC framework is, and how the library works.</p>

  <p>We'll wait...</p>

  <p>Got the general idea?<p>

  <p>AJAX requests that swap HTML fragments in, right?</p>

  <p>Good.</p>

  <p>OK, this demo is broken up into a few different sections:</p>

  <ul>
    <li>Basics - Some basic examples of Intercooler functionality</li>
    <li>Forms - Demos of common form related patterns in Intercooler</li>
    <li>Loading - Demos of common content loading patterns in Intercooler</li>
    <li>Other UX - Demos of other types of UX, such as table/bulk operations</li>
  </ul>

  <p>And, of course, this entire rails app is available on
    <a href="https://github.com/LeadDyno/intercooler-js-demo-rails-app">Github</a>
  </p>

  <p><em>Happy Intercoolin'</em></p>


</div>