<div class="row">
  <div class="col-md-12">

    <h2>Contacts</h2>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Bulk Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ic-post-to="/contacts/activate" ic-include="$('#ids')">Mark Active</a></li>
        <li><a ic-post-to="/contacts/deactivate" ic-include="$('#ids')">Mark Inactive</a></li>
      </ul>
    </div>

  </div>
</div>

<%= render :partial => 'contacts_table' %>