<h1>Click To Edit Example</h1>

<p>Here is a simple contact display UI. By clicking the "Click To Edit" button below, this UI will be swapped out
  for an form to edit the contact with.</p>

<p>Note that the URL does not change on the page, editing is effectively a mode within this page.</p>

<h4>Demo</h4>

<h2>Contact Details</h2>

<div class="row">
  <div class="col-md-2">
    Email
  </div>
  <div class="col-md-10">
    <%= @contact.email %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    First Name
  </div>
  <div class="col-md-10">
    <%= @contact.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Last Name
  </div>
  <div class="col-md-10">
    <%= @contact.last_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button ic-target="#content" ic-get-from="<%= edit_contact_path @contact %>"
            class="btn btn-primary">
      Click To Edit
    </button>
  </div>
</div>
