<% if @job.nil? %>

  <h4 class="text-info">Ready</h4>

  <button class="btn btn-primary" ic-post-to="/job/status">Start Job</button>

<% else %>

  <h4 class="text-info">Job Info</h4>

  <div>
    <b>Status:</b>
    <span ic-src="/job/status/txt" ic-transition="none" ic-poll="<%= '1s' unless @job.complete? %>"><%= @job.status %></span>
  </div>

  <% unless @job.complete? %>
    <div class="progress progress-striped active">
      <div class="progress-bar"
           ic-style-src="width:/job/status/percent"
           ic-poll="1s"
           role="progressbar"
           style="width: <%= @job.percent_str %>"></div>
    </div>
  <% end %>

  <button class="btn btn-danger" ic-delete-from="/job/status">Clear</button>

<% end %>
